<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Text Case Changer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="robots" content="index,follow" />
  <meta name="description" content="Text Case Changer; Change or Convert the case of any text to upper case, lower case, sentence case, title case, reverse case, alternate case, studly caps easily." />
  <meta name="keywords"  content="text case changer,case converter, convert case, convert text, convert to, upper case, lower case, sentence case, title case, studly caps" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/TextCaseChanger/assets/css/style.css?v=ffca22c9ac45b905c392f41ff491d9e0e6fc104c">
<style type="text/css">
    .btn2{
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #4CAF50;
    text-align: center;
    cursor: pointer;
    white-space: nowrap; 
    margin-bottom: 5px;      
    transition: background-color .3s,color .15s,box-shadow .3s,opacity .3s; 
    }
    .btn2:hover{
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);      
    }

    @media screen and (min-width: 64em){
    .page-header {
    padding: 1rem 6rem !important;
    }
}

.center{
  text-align: center;
}
</style>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://techword.github.io/TextCaseChanger/img/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="https://techword.github.io/TextCaseChanger/img/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="https://techword.github.io/TextCaseChanger/img/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="https://techword.github.io/TextCaseChanger/img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="https://techword.github.io/TextCaseChanger/img/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="https://techword.github.io/TextCaseChanger/img/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Text Case Changer"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="https://techword.github.io/TextCaseChanger/img/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="https://techword.github.io/TextCaseChanger/img/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="https://techword.github.io/TextCaseChanger/img/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="https://techword.github.io/TextCaseChanger/img/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="https://techword.github.io/TextCaseChanger/img/mstile-310x310.png" />


</head>

<body>
  <section class="page-header">
    <h1 class="project-name">Text Case Changer</h1>
    <h2 class="project-tagline">A JavaScript based small size text case changer</h2>

    <a href="https://github.com/EzyHow/TextCaseChanger" class="btn">View on GitHub</a>

</section>


    <div class="main-content" ng-app="CaseChanger" ng-controller="CaseChangerController" ng-init="intialize()">

      <h2>Type or Paste Text Below</h2>      
      <textarea ng-model="textBox" ng-change="inputChanged()" style="width: 100%; height: 150px; color:black;" autofocus id="mainText"></textarea><br/>
      <div class="center">
      <button class="btn2" ng-disabled="disbleButtons" ng-click="sentenceCase()">Sentence case</button>
      <button class="btn2" ng-disabled="disbleButtons" ng-click="firstLetterUpperCase()">Title Case</button>
      <button class="btn2" ng-disabled="disbleButtons" ng-click="allUpperCase()">UPPER CASE</button>
      <button class="btn2" ng-disabled="disbleButtons" ng-click="allLowerCase()">lower case</button>
      <button class="btn2" ng-disabled="disbleButtons" ng-click="reverseCase()">Reverse Case</button>
      <button class="btn2" ng-disabled="disbleButtons" ng-click="studlyCaps()">StUdLyCaPs</button><br/>
      
          <button class="btn2" ng-disabled="disbleButtons" ng-click="copyToClipboard()">Copy To Clipboard</button>
      </div><br/>


<footer class="site-footer center">

  <span class="site-footer-owner"><a href="https://github.com/EzyHow/TextCaseChanger">TextCaseChanger</a> is maintained by <a href="https://github.com/EzyHow">EzyHow</a>.</span>

  <!--<span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>-->
</footer>
</div>

<script src="js/app.min.js"></script>
</body>

</html>
