---
---

@import "{{ site.theme }}";

 .btn2{
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #4CAF50;
    text-align: center;
    cursor: pointer;
    white-space: nowrap; 
    margin-bottom: 5px;      
    transition: background-color .3s,color .15s,box-shadow .3s,opacity .3s; 
    }
    .btn2:hover{
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);      
    }

    @media screen and (min-width: 64em){
    .page-header {
    padding: 1rem 6rem !important;
    }
}